<div class="container">
    <div class="card shadow mb-3 p-2 rounded">
        <div class="card-header p-1 text-center bg-transparent">
            <h6>Jobs</h6>
        </div>
        <div  class="card-body overflow-auto row " >
            {{#each jobs}}
                <div class="col-sm-5">
                    <div class="card  bg-green-faded shadow p-3 mb-3  rounded">
                        <div class="card-header p-1 text-capitalize text-center bg-transparent">
                            <span >{{@key}} </span>
                            <div class="spinner-grow {{#if this.running}}text-success{{else}}text-danger{{/if}} spinner-grow-sm" role="status"></div>
                        </div>
                        <div class="card-body pb-0">
                            {{#if this.lastExecution}}
                                <div class="p-1">
                                    <i class="bi bi-calendar3"></i>
                                     <small class="">Interval: [ {{this.cronTime.source}} ]</small>
                                </div>
                                <div class="p-1">
                                    <i class="bi bi-clock-history"></i>
                                    <small>Last run: {{#dateToString this.lastExecution}}{{/dateToString}}</small>
                                </div>
                                <div class="dropdown-divider"></div>
                            {{/if}}
                            <div class="custom-control custom-switch text-center">
                                <form method="POST" action="/admin/jobs">
                                    <input type="checkbox"
                                           onchange="this.closest('form').submit()"
                                           class="custom-control-input" id="id_{{@key}}"
                                        {{#if this.running}} checked {{/if}}/>
                                    <label class="custom-control-label" for="id_{{@key}}"></label>
                                    <input type="hidden" name="jobName" value="{{@key}}" />
                                    <input type="hidden" name="jobState" value="{{#if this.running}}1{{else}}0{{/if}}" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>