<div class="mt-3 text-info">
    <h5>
        <i class="fad fa-light-switch-on"></i> Relays
    </h5>
</div>
{{#if status}}
    <div class="container" style="margin-bottom: 10rem">
        <div class="row row-cols-2 p-1">
            <div class="col p-1">
                <div class="container card shadow mb-3rounded-lg">
                    <div class="row row-cols-2 ">
                        <div class="col p-2 text-center">
                            <span class="card-title">Fan In</span>
                        </div>
                        <div class="col p-2 text-center mt-1">
                            <i class="fad fa-fan {{#if status.fan_in}}text-success{{else}}text-danger{{/if}}"
                               style="font-size: 2rem"></i>
                        </div>
                    </div>
                    <div class="row row-cols-1 p-2">
                        <div class="col mb-2">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info"
                                     role="progressbar" style="width: {{#percent status.fan_in 255}}{{/percent}}%"
                                     aria-valuenow="{{status.fan_in}}" aria-valuemin="0" aria-valuemax="255">
                                    {{#percent status.fan_in 255}}{{/percent}}%
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="row row-cols-1 p-1 rounded card-body justify-content-start collapse multi-collapse"
                         id="fanInEvents">
                        {{#each events}}
                            {{#ifEquals this.function_name 'setFanIn'}}
                                <div class="col p-0 text-center">
                                    <small>
                                        <small class="font-weight-bold {{#ifEquals this.event_value '0'}}text-danger {{else}}text-success {{/ifEquals}}"><i
                                                class="fad fa-calendar-day">
                                        </i>{{this.event_date}} - [{{#percent this.event_value 255}}{{/percent}}%]
                                        </small>
                                    </small>
                                </div>
                                <div class="dropdown-divider"></div>
                            {{/ifEquals}}
                        {{/each}}
                    </div>
                    <div class="row row-cols-2 p-2">
                        <div class="col">
                            <div class="custom-control custom-switch text-center float-left">
                                <form method="POST" action="/fan">
                                    <input type="checkbox"
                                           onchange="this.closest('form').submit()"
                                           class="custom-control-input" id="id_fan_in"
                                        {{#ifGreater status.fan_in 0}} checked {{/ifGreater}}/>
                                    <label class="custom-control-label" for="id_fan_in"></label>
                                    <input type="hidden" name="name" value="fanIn"/>
                                    <input type="hidden" name="status"
                                           value="{{#ifGreater status.fan_in 0}}0{{else}}1{{/ifGreater}}"/>
                                </form>
                            </div>
                        </div>
                        <div class="col">
                            <i class="fad fa-history btn text-info fa-lg float-right" data-toggle="collapse"
                               href="#fanInEvents"
                               role="button" aria-expanded="false" aria-controls="pompEvents">
                            </i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col p-1">
                <div class="container card shadow mb-3rounded-lg">
                    <div class="row row-cols-2 ">
                        <div class="col p-2 text-center">
                            <span class="card-title">Fan Out</span>
                        </div>
                        <div class="col p-2 text-center mt-1">
                            <i class="fad fa-fan {{#if status.fan_out}}text-success{{else}}text-danger{{/if}}"
                               style="font-size: 2rem"></i>
                        </div>
                    </div>
                    <div class="row row-cols-1 p-2 ">
                        <div class="col mb-2">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info"
                                     role="progressbar" style="width: {{#percent status.fan_out 255}}{{/percent}}%"
                                     aria-valuenow="{{status.fan_out}}" aria-valuemin="0" aria-valuemax="255">
                                    {{#percent status.fan_out 255}}{{/percent}}%
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="row row-cols-1 p-1 rounded card-body justify-content-start collapse multi-collapse"
                         id="fanOutEvents">
                        {{#each events}}
                            {{#ifEquals this.function_name 'setFanOut'}}
                                <div class="col p-0 text-center">
                                    <small>
                                        <small class="font-weight-bold {{#ifEquals this.event_value '0'}}text-danger {{else}}text-success {{/ifEquals}}"><i
                                                class="fad fa-calendar-day">
                                        </i>{{this.event_date}} - [{{#percent this.event_value 255}}{{/percent}}%]
                                        </small>
                                    </small>
                                </div>
                                <div class="dropdown-divider"></div>
                            {{/ifEquals}}
                        {{/each}}
                    </div>
                    <div class="row row-cols-2 p-2">
                        <div class="col">
                            <div class="custom-control custom-switch text-center float-left">
                                <form method="POST" action="/fan">
                                    <input type="checkbox"
                                           onchange="this.closest('form').submit()"
                                           class="custom-control-input" id="id_fan_out"
                                        {{#ifGreater status.fan_out 0}} checked {{/ifGreater}}/>
                                    <label class="custom-control-label" for="id_fan_out"></label>
                                    <input type="hidden" name="name" value="fanOut"/>
                                    <input type="hidden" name="status"
                                           value="{{#ifGreater status.fan_out 0}}0{{else}}1{{/ifGreater}}"/>
                                </form>
                            </div>
                        </div>
                        <div class="col">
                            <i class="fad fa-history btn text-info fa-lg float-right" data-toggle="collapse"
                               href="#fanOutEvents"
                               role="button" aria-expanded="false" aria-controls="pompEvents">
                            </i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col p-1">
                <div class="container card shadow mb-3rounded-lg">
                    <div class="row row-cols-2 ">
                        <div class="col p-2 text-center">
                            <span class="card-title mb-0 ">Veg Lights</span>
                        </div>
                        <div class="col p-2 text-center mt-1">
                            <i class="fad {{#if
                                    status.veg_lamp_off}}fa-lightbulb text-danger{{else}}fa-lightbulb-on text-warning{{/if}}"
                               style="font-size: 2rem"></i>
                        </div>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="row row-cols-1 p-1 rounded card-body justify-content-start collapse multi-collapse"
                         id="flowerEvents">
                        {{#each events}}
                            {{#ifEquals this.function_name 'setVegLamp'}}
                                <div class="col p-0 text-center">
                                    <small>
                                        <small class="font-weight-bold {{#ifEquals this.event_value '0'}}text-success {{else}}text-danger {{/ifEquals}}"><i
                                                class="fad fa-calendar-day">
                                        </i>{{this.event_date}} - {{#ifEquals this.event_value '1'}}[stop]{{else}}[start]{{/ifEquals}}
                                        </small>
                                    </small>
                                </div>
                                <div class="dropdown-divider"></div>
                            {{/ifEquals}}
                        {{/each}}
                    </div>
                    <div class="row row-cols-2 p-2">
                        <div class="col">
                            <div class="custom-control custom-switch text-center float-left">
                                <form method="POST" action="/lights">
                                    <input type="checkbox"
                                           onchange="this.closest('form').submit()"
                                           class="custom-control-input" id="id_veg_lights"
                                        {{#unless status.veg_lamp_off}} checked {{/unless}}/>
                                    <label class="custom-control-label" for="id_veg_lights"></label>
                                    <input type="hidden" name="name" value="vegPhase"/>
                                    <input type="hidden" name="status"
                                           value="{{#if status.veg_lamp_off}}0{{else}}1{{/if}}"/>
                                </form>
                            </div>
                        </div>
                        <div class="col">
                            <i class="fad fa-history btn text-info fa-lg float-right" data-toggle="collapse"
                               href="#flowerEvents"
                               role="button" aria-expanded="false" aria-controls="pompEvents">
                            </i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col p-1">
                <div class="container card shadow mb-3rounded-lg">
                    <div class="row row-cols-2 ">
                        <div class="col p-2 text-center">
                            <span class="card-title mb-0 ">Flower Lights</span>
                        </div>
                        <div class="col p-2 text-center mt-1">
                            <i class="fad fa-lightbulb {{#if
                                    status.fruit_lamp_off}}text-danger{{else}}fa-lightbulb-on text-warning{{/if}}"
                               style="font-size: 2rem"></i>
                        </div>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="row row-cols-1 p-1 rounded card-body justify-content-start collapse multi-collapse"  id="fruitEvents">
                        {{#each events}}
                            {{#ifEquals this.function_name 'setFruitLamp'}}
                                <div class="col p-0 text-center">
                                    <small>
                                        <small class="font-weight-bold {{#ifEquals this.event_value '0'}}text-success {{else}}text-danger {{/ifEquals}}"><i
                                                class="fad fa-calendar-day">
                                        </i>{{this.event_date}} - {{#ifEquals this.event_value '1'}}[stop]{{else}}[start]{{/ifEquals}}
                                        </small>
                                    </small>
                                </div>
                                <div class="dropdown-divider"></div>
                            {{/ifEquals}}
                        {{/each}}
                    </div>
                    <div class="row row-cols-2 p-2">
                        <div class="col">
                            <div class="custom-control custom-switch text-center">
                                <form method="POST" action="/lights">
                                    <input type="checkbox"
                                           onchange="this.closest('form').submit()"
                                           class="custom-control-input" id="id_flower_lights"
                                        {{#unless status.fruit_lamp_off}} checked {{/unless}}/>
                                    <label class="custom-control-label" for="id_flower_lights"></label>
                                    <input type="hidden" name="name" value="fruitPhase"/>
                                    <input type="hidden" name="status"
                                           value="{{#if status.fruit_lamp_off}}0{{else}}1{{/if}}"/>
                                </form>
                            </div>
                        </div>
                        <div class="col">
                            <i class="fad fa-history btn text-info fa-lg float-right" data-toggle="collapse" href="#fruitEvents" role="button" aria-expanded="false" aria-controls="pompEvents">
                            </i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col p-1">
                <div class="container card shadow mb-3rounded-lg">
                    <div class="row row-cols-2 ">
                        <div class="col p-2 text-center">
                            <span class="card-title mb-0 ">Pomp</span>
                        </div>
                        <div class="col p-2 text-center mt-1">
                            <i class="fad fa-faucet-drip {{#if status.pomp_off}}text-danger{{else}}text-info{{/if}}"
                               style="font-size: 2rem"></i>
                        </div>
                    </div>
                    <div class="row row-cols-1 ">
                        <div class="col   mt-1">
                            <div class="text-center">
                                <i class="fad fa-water text-info "></i><small> {{tank.current_capacity}}L</small>
                            </div>
                            <div class="progress w-100">
                                <div class="progress-bar progress-bar-striped progress-bar-animated {{#ifBetween
                                        status.water_level 160 tank.height}}bg-danger{{/ifBetween}} {{#ifBetween
                                        status.water_level 130 160}}bg-warning{{/ifBetween}} {{#ifBetween
                                        status.water_level 30 130}}bg-warning{{/ifBetween}}"
                                     role="progressbar"
                                     style="width: {{#percent tank.current_capacity tank.max_capacity}}{{/percent}}%"
                                     aria-valuenow="{{status.current_capacity}}" aria-valuemin="0"
                                     aria-valuemax="{{tank.max_capacity}}">
                                    {{#percent tank.current_capacity tank.max_capacity}}{{/percent}}%
                                </div>
                            </div>
                            <div class="row row-cols-1 p-1 rounded card-body justify-content-start collapse multi-collapse" id="pompEvents">
                                <div class="dropdown-divider"></div>
                                {{#each events}}
                                    {{#ifEquals this.function_name 'pomp'}}
                                        <div class="col p-0 text-center">
                                            <small>
                                                <small class="font-weight-bold {{#ifEquals this.event_value '0'}}text-success {{else}}text-danger {{/ifEquals}}"><i class="fad fa-calendar-day">
                                                </i>{{this.event_date}} - {{#ifEquals this.event_value '1'}}[stop]{{else}}[start]{{/ifEquals}}
                                                </small>
                                            </small>
                                        </div>
                                        <div class="dropdown-divider"></div>
                                    {{else ifEquals this.function_name 'setPomp'}}
                                        <div class="col p-0 text-center">
                                            <small>
                                                <small class="text-success font-weight-bold"><i
                                                        class="fad fa-calendar-day">
                                                </i>{{this.event_date}} - [{{this.event_value}}ml]
                                                </small>
                                            </small>
                                        </div>
                                    {{/ifEquals}}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="row row-cols-2 p-2">
                        <div class="col">
                            <div class="custom-control custom-switch text-center float-left">
                                <form method="POST" action="/pomp">
                                    <input type="checkbox"
                                           onchange="this.closest('form').submit()"
                                           class="custom-control-input" id="id_pomp"
                                        {{#unless status.pomp_off}} checked {{/unless}}/>
                                    <label class="custom-control-label" for="id_pomp"></label>
                                    <input type="hidden" name="name" value="pomp"/>
                                    <input type="hidden" name="status"
                                           value="{{#if status.pomp_off}}1{{else}}0{{/if}}"/>
                                </form>
                            </div>
                        </div>
                        <div class="col">
                            <i class="fad fa-history btn text-info fa-lg float-right" data-toggle="collapse"
                               href="#pompEvents"
                               role="button" aria-expanded="false" aria-controls="pompEvents">
                            </i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/if}}