<div class="container">
    <div class="card shadow  mb-3 p-2 rounded">
        <div class="card-header p-1 text-center bg-transparent">
           <button type="button" class="btn btn-sm float-right text-info" onclick="let x=document.getElementById('logsContainer');x.scrollTo(0,x.scrollHeight)">
               <i class="bi bi-arrow-down-circle"></i>
           </button>
            Server Logs
        </div>
        <div id="logsContainer" class="card-body overflow-auto p-1 bg-green-faded" style="height:300px;background-color: #818182;">
            {{#each logs}}
                <p  class="p-0 m-0 text-nowrap">
                    {{#ifEquals this.level 'info'}}<small class="badge bg-info" onclick="searchLogs(this)">{{this.level}}</small>{{/ifEquals}}
                    {{#ifEquals this.level 'error'}}<small class="badge bg-danger" onclick="searchLogs(this)">{{this.level}}</small>{{/ifEquals}}
                    {{#ifEquals this.level 'warn'}}<small class="badge bg-warning" onclick="searchLogs(this)">{{this.level}}</small>{{/ifEquals}}
                    {{#ifEquals this.level 'critical'}}<small class="badge bg-danger" onclick="searchLogs(this)">{{this.level}}</small>{{/ifEquals}}
                    <small class="badge bg-light text-dark" onclick="searchLogs(this)">{{this.timestamp}}</small>
                    <small class="badge bg-light text-dark">{{this.message}}</small>
                    </p>
            {{/each}}
        </div>
        <div class="card-footer text-muted p-2 text-center bg-transparent">
            <div class="input-group input-group-sm">
                <input type="text" class="form-control" id="searchLogsInput" onkeyup="searchLogs(this)" placeholder="search logs.."/>
            </div>
        </div>
    </div>
</div>